.weatherBadge {
  font-size: 14px;
  background-color: var(--main-color);
  color: var(--light-font);
  font-family: var(--main-font);
  text-align: end;
}

.dateBadge {
  font-family: var(--main-font);
  font-size: 12px;
}