.panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  background: var(--background-color);
  box-shadow: -7px 0 10px var(--add-color);
  transition: right 0.5s ease;
  z-index: 1000;
}

.open {
  right: 0;
}

.content {
  padding: 20px;
}

.calendar {
  margin-bottom: 10px;
}

.taskList {
  background: #fafafa;
  padding: 10px;
  border-radius: 6px;
}

.taskList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.taskList li {
  margin-bottom: 6px;
  font-weight: 500;
}