.tasks_list {
  padding: 10px;
  height: calc(100vh - 260px);
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-radius);
}

@media (max-width: 768px) {
  .tasks_list {
    height: calc(100vh - 360px);
    margin-bottom: 50px;
  }
}