.navbar {
  width: 270px;
  min-width: 270px;
  background-color: white;
  box-shadow: 1px 0 10px rgb(111, 78, 55);
  transition: 0.3s ease-out;
}

.navbar_collapsed {
  width: 80px;
  min-width: 80px;
  transition: 0.3s ease-out;
  background-color: white;
  box-shadow: 1px 0 10px rgb(111, 78, 55);
}

.navbutton {
  margin: 20px 15px 0 15px;
  width: 50px;
  height: 50px;
  background-image: url(../assets/images/menu.svg);
  background-color: white;
  border: 0;
  cursor: pointer;
}

.navlist {
  margin: 0;
  padding: 15px;
  list-style-type: none;
  box-sizing: border-box;
}

.navitem {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 0 10px 50px;
  color: rgb(111, 78, 55);
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 30px;
}

.navitem:hover {
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgb(111, 78, 55);
  border-radius: 10px;
  transition: 0.5s;
}

.navitem_active {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 0 10px 50px;
  color: rgb(111, 78, 55);
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(111, 78, 55);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 30px;
}

.navitem:not(:last-child) {
  margin-bottom: 5px;
}

.navitem_active:not(:last-child) {
  margin-bottom: 5px;
}

.navall {
  background-image: url(../assets/images/tasks.svg);
}

.navcurrent {
  background-image: url(../assets/images/time.svg);
}
.navtoday {
  background-image: url(../assets/images/exclamationMark.svg);
}
.navimportant {
background-image: url(../assets/images/star.svg);

}
.navcompleted {
  background-image: url(../assets/images/checkmark.svg);
}

.appear_instantly {
  opacity: 1;
  animation: 0;
}

.item_text {
  opacity: 0;
  animation: itemText 0.3s forwards;
  animation-delay: 0.3s;
}

@keyframes itemText {
  to {
    opacity: 1;
  }
}


@font-face {
  font-family: 'ClickClack';
  src: url('../assets/fonts/ClickClack.ttf') format("truetype");
}

@media (max-width: 640px) {
  .navbar {
    width: 100vw;
    min-width: 100vw;
  }

  .navbar_collapsed {
    width: 45px;
    min-width: 45px;
  }

  .navbutton {
    margin: 20px 5px 0 5px;
    width: 35px;
    height: 35px;
    background-size: 35px;
  }

  .navlist {
    padding: 5px;
  }

  .navitem {
    padding-left: 30px;
    padding-right: 5px;
    background-position: left 5px center;
    background-size: 20px;
  }

  .navitem_active {
    padding-left: 30px;
    padding-right: 5px;
    background-position: left 5px center;
    background-size: 20px;
  }
}