ul, li {
  margin: 0;
  list-style: none;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-width: 270px;
  background-color: white;
  box-shadow: 1px 0 10px rgb(111, 78, 55);
  transition: 0.3s ease-out;
}

.navbar_collapsed {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  width: 80px;
  min-width: 80px;
  transition: 0.3s ease-out;
  background-color: white;
  box-shadow: 1px 0 10px rgb(111, 78, 55);
}

.navbutton {
  margin: 20px 15px 0 15px;
  width: 50px;
  height: 50px;
  background-image: url(../assets/images/menu.svg);
  background-color: white;
  border: 0;
  cursor: pointer;
}

.navlist {
  margin: 0;
  padding: 15px;
  list-style-type: none;
  box-sizing: border-box;
}

.navitem {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 0 10px 50px;
  color: rgb(111, 78, 55);
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 30px;
}

.navitem:hover {
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgb(111, 78, 55);
  border-radius: 10px;
  transition: 0.5s;
}

.navitem_active {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 0 10px 50px;
  color: rgb(111, 78, 55);
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(111, 78, 55);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 30px;
}

.navitem:not(:last-child) {
  margin-bottom: 5px;
}

.navitem_active:not(:last-child) {
  margin-bottom: 5px;
}

.navall {
  background-image: url(../assets/images/tasks.svg);
}

.navcurrent {
  background-image: url(../assets/images/time.svg);
}
.navtoday {
  background-image: url(../assets/images/exclamationMark.svg);
}
.navimportant {
background-image: url(../assets/images/star.svg);

}
.navcompleted {
  background-image: url(../assets/images/checkmark.svg);
}

.appear_instantly {
  opacity: 1;
  animation: 0;
}

.item_text {
  opacity: 0;
  animation: itemText 0.3s forwards;
  animation-delay: 0.3s;
}

@keyframes itemText {
  to {
    opacity: 1;
  }
}

.extra_box {
  position: relative;
  margin-top: auto;
  flex-shrink: 0;
}

.extrabtn {
  margin: 0 15px 20px 15px;
  width: calc(100% - 30px);
  height: 50px;
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: rgb(111, 78, 55);
  border: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(111, 78, 55);
}

.button_text {
  opacity: 0;
  animation: butnText 0.3s forwards;
  animation-delay: 0.3s;
}

@keyframes butnText {
  to {
    opacity: 1;
  }
}

.extrabtn_icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../assets/images/flower.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  margin: 0 auto;
}

.nav_extralist {
  position: absolute;
  flex-direction: column;
  gap: 10px;
  bottom: 18px;
  left: calc(100% + 10px);
  padding: 15px;
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgb(111, 78, 55);
  box-shadow: 5px 5px 10px rgb(111, 78, 55);
  z-index: 9999;
}

.nav_extralist li {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 30px;
  white-space: nowrap;
  width: fit-content;
  color: rgb(111, 78, 55);
  cursor: pointer;
}

.flowershop {
  background-image: url(../assets/images/FlowerShop.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
}

.show {
  display: flex;
  animation: fadeIn 0.3s ease-in;
}

.hide {
  display: none;
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@font-face {
  font-family: 'ClickClack';
  src: url('../assets/fonts/ClickClack.ttf') format("truetype");
}

@media (max-width: 640px) {

  .navbar {
    width: 100vw;
    min-width: 100vw;
  }

  .navbar_collapsed {
    width: 45px;
    min-width: 45px;
  }

  .navbutton {
    margin: 20px 5px 0 5px;
    width: 35px;
    height: 35px;
    background-size: 35px;
  }

  .navlist {
    padding: 5px;
    flex-grow: 1;
    overflow: hidden;
  }

  .navitem {
    padding-left: 30px;
    padding-right: 5px;
    background-position: left 7px center;
    background-size: 20px;
  }

  .navitem_active {
    padding-left: 30px;
    padding-right: 5px;
    background-position: left 7px center;
    background-size: 20px;
  }

  .extra_box {
    margin: auto 5px 70px 5px;
    height: 35px;
  }

  .extrabtn {
    width: 100%;
    height: 35px;
    margin: 0;
    box-shadow: 1px 1px 3px rgb(111, 78, 55);
  }

  .extrabtn_icon {
    width: 15px;
    height: 15px;
  }

  .nav_extralist {
    bottom: 45px;
    left: 0;
    box-shadow: 2px 2px 5px rgb(111, 78, 55);
  }

}