.task_box {
  background-color: var(--background-color);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-color);
}

.task_box:not(:last-child) {
  margin-bottom: 20px;
}

.input_task {
  box-sizing: border-box;
  height: 40px;
  min-width: 100%;
  padding: 15px;
  font-family: var(--main-font);
  background-color: var(--background-color);
  border-radius: calc(var(--main-border-radius) - 1px);
  border: 1px solid var(--main-color);
  color: var(--dark-font);
}

.input_task:focus {
  outline: none;
}

.expired_task {
  color: red;
}

.task_buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.sort_buttons {
  display: flex;
  align-items: center;
}

.important_button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/starBlack.png");
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}

.important_button_active {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/starYellow.png");
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}

.important_button_active:active {
  background-image: url("../../assets/images/star.png");
  border: 0;
  transition: 0.3s;
}

.important_button:hover {
  background-image: url("../../assets/images/starYellow.png");
  border: 0;
  transition: 0.3s;
}

.important_button:active {
  background-image: url("../../assets/images/star.png");
  border: 0;
  transition: 0.3s;
}

.done_button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/checkmarkBlack.svg");
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}

.done_button_active {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/checkmarkGreen.svg");
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}

.done_button:hover {
  background-image: url("../../assets/images/checkmarkGreen.svg");
  border: 0;
  transition: 0.3s;
}

.done_button:active {
  background-image: url("../../assets/images/checkmarkRound.svg");
  border: 0;
  transition: 0.3s;
}

.done_button_active:active {
  background-image: url("../../assets/images/checkmarkRound.svg");
  border: 0;
  transition: 0.3s;
}

.task_date {
  padding: 5px;
  font-family: var(--main-font);
  border-radius: var(--main-border-radius);
  border: 1px solid black;
  font-size: 15px;
  width: 110px;
}

.delete_button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  background-image: url("../../assets/images/deleteBlack.png");
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.3s;
}

.delete_button:hover, .delete_button:active {
  background-image: url("../../assets/images/deleteRed.png");
  border: 0;
  transition: 0.3s;
}

@media (max-width: 640px) {
  .task_date {
    width: 100px;
    box-sizing: border-box;
    font-size: 10px;
  }
}