.task_box {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(111, 78, 55);
}

.task_box:not(:last-child) {
  margin-bottom: 20px;
}

.input_task {
  box-sizing: border-box;
  height: 40px;
  min-width: 100%;
  padding: 15px;
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  background-color: white;
  border-radius: 9px;
  border: 1px solid rgb(111, 78, 55);
  color: rgb(111, 78, 55);
}

.input_task:focus {
  outline: none;
}

.expired_task {
  color: red;
}

.task_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.sort_buttons {
  display: flex;
  align-items: center;
}

.important_button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/starBlack.png");
  cursor: pointer;
  transition: 0.3s;
}

.important_button_active {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/starYellow.png");
  cursor: pointer;
  transition: 0.3s;
}

.important_button_active:active {
  background-image: url("../../assets/images/star.png");
  border: 0;
  transition: 0.3s;
}

.important_button:hover {
  background-image: url("../../assets/images/starYellow.png");
  border: 0;
  transition: 0.3s;
}

.important_button:active {
  background-image: url("../../assets/images/star.png");
  border: 0;
  transition: 0.3s;
}

.done_button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/checkmarkBlack.png");
  cursor: pointer;
  transition: 0.3s;
}

.done_button_active {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  background-image: url("../../assets/images/checkmarkGreen.png");
  cursor: pointer;
  transition: 0.3s;
}

.done_button:hover {
  background-image: url("../../assets/images/checkmarkGreen.png");
  border: 0;
  transition: 0.3s;
}

.done_button:active {
  background-image: url("../../assets/images/checkmark.png");
  border: 0;
  transition: 0.3s;
}

.done_button_active:active {
  background-image: url("../../assets/images/checkmark.png");
  border: 0;
  transition: 0.3s;
}

.task_date {
  padding: 5px;
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 15px;
  width: 110px;
}

.delete_button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  background-image: url("../../assets/images/deleteBlack.png");
  cursor: pointer;
  transition: 0.3s;
}

.delete_button:hover {
  background-image: url("../../assets/images/deleteRed.png");
  border: 0;
  transition: 0.3s;
}

.delete_button:active {
  background-image: url("../../assets/images/delete.png");
  border: 0;
  transition: 0.3s;
}

.tooltip_text {
  visibility: hidden;
  position: absolute;
  transform: translateX(-50%);
  background-color: rgb(111, 78, 55);
  color: white;
  padding: 5px 10px 7px;
  border-radius: 5px;
  font-family: 'ClickClack', 'Times New Roman', Times, serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  overflow: hidden;
  white-space: nowrap;
}

.important_button:hover .tooltip_text,
.done_button:hover .tooltip_text,
.delete_button:hover .tooltip_text {
  visibility: visible;
  top: 120%;
}

@font-face {
  font-family: 'ClickClack';
  src: url('../../assets/fonts/ClickClack.ttf') format("truetype");
}

@media (max-width: 640px) {
  .task_date {
    width: 100px;
    box-sizing: border-box;
    font-size: 10px;
  }
}